@model ViewModels.WorkOrder.CostPerformance.CostPerformanceViewModel
@{
    Layout = null;
    var hideEstimatedCost = ViewData["HideEstimatedCost"] != null ? bool.Parse(ViewData["HideEstimatedCost"].ToString()) : false;
    var totalEquipmentCost = Model.EquipmentsCostPerformance.Sum(x => x.Cost);
    var totalEquipmentActualCost = Model.EquipmentsCostPerformance.Sum(x => x.ActualCost);
}
<h6 class="text-start">Equipment</h6>
<div class="table-responsive my-3" id="equipmentTable">
    <table class="table table-bordered dataTable">
        <thead>@* class="thead-primary" *@
            <tr>
                <th>Equipment</th>
                @if (!hideEstimatedCost)
                {
                    <th>Estimated Cost</th>
                }
                <th>@(hideEstimatedCost ? "Cost" : "Actual Cost")</th>
            </tr>
        </thead>
        <tbody class="task-equipment-tbody">
            @if (Model.EquipmentsCostPerformance.Count > 0)
            {
                for (var i = 0; i < Model.EquipmentsCostPerformance.Count(); i++)
                {
                    @await Html.PartialAsync("~/Views/WorkOrder/CostPerformance/_TaskEquipmentRow.cshtml", Model.EquipmentsCostPerformance[i], new ViewDataDictionary(ViewData) { { "RowNumber", i } })
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No Records Added.</td>
                </tr>
            }
        </tbody>
        <tfoot>
            @if (!hideEstimatedCost)
            {
                <tr>
                    <td colspan="2" class="text-end"><label class="form-label fw-600">Estimated Equipment Cost</label></td>
                    <td class="text-end"><label class="form-label fw-600">@totalEquipmentCost.ToString("C")</label></td>
                </tr>
            }
            <tr>
                <td colspan="@(hideEstimatedCost?1:2)" class="text-end"><label class="form-label fw-600">@(hideEstimatedCost ? "Equipment Cost" : "Actual Equipment Cost")</label></td>
                <td class="text-end"><label class="form-label fw-600">@totalEquipmentActualCost.ToString("C")</label></td>
            </tr>
        </tfoot>
    </table>
</div>
