@using ViewModels;
@using Enums;
@model ReturnInventoryItemsViewModel

<table class="table table-striped">
    <thead>@* class="thead-primary" *@
        <tr>
            <th></th> <!-- Empty header for the checkbox column -->
            <th>Item</th>
            <th>Purchase Order</th>
            <th>Source</th>
            <th>Supplier</th>
            <th>Rate</th>
            <th>Location</th>
            <th>OH Quantity</th>
            <th>Order#</th>
            <th>Returned Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (transaction, index) in Model.Transactions.Select((value, i) => (value, i)))
        {
            <tr>
                <td>
                    <input type="checkbox" class="transactions-checkbox" />
                    <input type="hidden" name="Transactions[@index].LotNO" value="@Model.Transactions[index].LotNO">
                    <input type="hidden" name="Transactions[@index].Quantity" value="@Model.Transactions[index].Quantity">
                    <input type="hidden" name="Transactions[@index].ItemPrice" value="@Model.Transactions[index].ItemPrice">
                    <input type="hidden" name="Transactions[@index].Source.Id" value="@Model.Transactions[index].Source.Id">
                    <input type="hidden" name="Transactions[@index].Supplier.Id" value="@Model.Transactions[index].Supplier.Id">
                    <input type="hidden" name="Transactions[@index].Location.Id" value="@Model.Transactions[index].Location.Id">
                    <input type="hidden" name="Transactions[@index].Inventory.Id" value="@Model.Transactions[index].Inventory.Id">
                    <input type="hidden" name="Transactions[@index].EntityId" value="@Model.Transactions[index].EntityId">
                    <input type="hidden" name="Transactions[@index].EntityDetailId" value="@Model.Transactions[index].EntityDetailId">
                </td>

                <td>@transaction.Inventory.Description</td>
                <td>@transaction.LotNO</td>
                <td>@transaction.Source.Name</td>
                <td>@transaction.Supplier.Name</td>
                <td>@transaction.ItemPrice.ToString("C")</td>
                <td>@transaction.Location.Name</td>
                <td>@Math.Abs(transaction.Quantity)</td>
                <td>@transaction.EntityName</td>
                <td><input type="number" class="form-control" max="@Math.Abs(Model.Transactions[index].Quantity)" name="Transactions[@index].ReturnedQuantity" /></td>
            </tr>
        }
    </tbody>
</table>
