@using ViewModels
@model List<TransactionDetailViewModel>
@{
    Layout = null;
    var inventoryId = ViewBag.InventoryId;
}

<div class="container-fluid">
    <table id="shipment-table-container" class="table table-striped table-bordered">
        <thead>@* class="thead-primary" *@
            <tr>
                <th>Purchase Order</th>
                <th>Source</th>
                <th>Supplier</th>
                <th>Location</th>
                <th>OH Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.LotNO</td>
                        <td>@item.Source.Name  </td>
                        <td>@item.Supplier.Name </td>
                        <td>@item.Location.Name </td>
                        <td>@item.Quantity</td>
                        <td>@item.FormattedItemPrice</td>
                        <td>
                            <a href='#' style="color:black;" class='table-link delete-btn' onClick='ShowInventoryShipmentHistory("@inventoryId","@item.LotNO","@item.Location.Id","@item.Source.Id")'>
                                <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.49774 9.56453C9.20629 9.56453 8.95217 9.4678 8.7354 9.27435C8.51862 9.0809 8.41024 8.85413 8.41024 8.59404C8.41024 8.33394 8.51862 8.10717 8.7354 7.91372C8.95217 7.72027 9.20629 7.62354 9.49774 7.62354C9.78919 7.62354 10.0433 7.72027 10.2601 7.91372C10.4768 8.10717 10.5852 8.33394 10.5852 8.59404C10.5852 8.85413 10.4768 9.0809 10.2601 9.27435C10.0433 9.4678 9.78919 9.56453 9.49774 9.56453ZM9.49774 16.358C7.28504 16.358 5.35889 15.7113 3.71931 14.418C2.07972 13.1246 1.13097 11.5068 0.873047 9.56453H1.97305C2.26867 11.2343 3.12372 12.6222 4.53819 13.7284C5.95267 14.8345 7.60585 15.3875 9.49774 15.3875C11.6184 15.3875 13.4173 14.7284 14.8945 13.4101C16.3716 12.0919 17.1102 10.4865 17.1102 8.59404C17.1102 6.70157 16.3716 5.09621 14.8945 3.77796C13.4173 2.4597 11.6184 1.80057 9.49774 1.80057C8.37254 1.80057 7.31503 2.01271 6.32523 2.43697C5.33524 2.86124 4.46171 3.4454 3.70462 4.18945H6.40271V5.15994H1.88524V1.12875H2.97274V3.44677C3.81356 2.62299 4.79892 1.98092 5.92883 1.52059C7.05893 1.06025 8.24856 0.830078 9.49774 0.830078C10.7049 0.830078 11.8355 1.03259 12.8896 1.43761C13.9438 1.84263 14.8651 2.39694 15.6535 3.10055C16.442 3.80416 17.0631 4.62625 17.517 5.56682C17.9708 6.50723 18.1977 7.51598 18.1977 8.59306C18.1977 9.66999 17.9708 10.6791 17.517 11.6203C17.0631 12.5615 16.442 13.3839 15.6535 14.0875C14.8651 14.7911 13.9438 15.3454 12.8896 15.7505C11.8355 16.1555 10.7049 16.358 9.49774 16.358Z" fill="#252432"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No records found!</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<input type="hidden" id="transaction-history-modal-title" value="Transaction History" />


<script>
    function ShowInventoryShipmentHistory(inventoryId, lotNo, locationId, sourceId) {
        $.ajax({
            url: "/Inventory/GetInventoryIssueHistory",
            type: "GET",
            data: { "Id": inventoryId, "lotNo": lotNo, "locationId": locationId, "sourceId": sourceId },
            success: function (data) {
                if (data) {
                    $(".modal-title").html($("#transaction-history-modal-title").val());
                    $("#inventory-shipment-modal-body").empty();
                    $("#inventory-shipment-modal-body").html(data);
                    $("#inventory-shipment-modal").modal("show");
                }
                else {
                    SwalErrorAlert("Inventory Transaction History failed to load!");
                }
                // $('#ajax-loader').hide();
            },
            complete: function () {
                //refreshinventoryGrid();
                // $('#ajax-loader').hide();
            },
            error: function (r, s, t) {
                SwalErrorAlert('Inventory Transaction History failed to load!');
                // $('#ajax-loader').hide();
            }
        });
    }
</script>