@using ViewModels.Incident
@model IncidentViewTaskViewModel

<table class="table align-middle text-left">
    <thead class="table-light">
        <tr>
            <th>Task</th>
            <th>Responsible Party</th>
            <th>Status</th>
            @* <th>Completed</th> *@
            <th>Evidence</th>
          @*   <th>Action</th> *@
        </tr>
    </thead>
    <tbody>

        @if (Model.listIncidentViewTaskCloseOutViewModel.Count > 0)
        {

            @foreach (var closeout in Model.listIncidentViewTaskCloseOutViewModel)
            {
                <tr>
                    <td>@closeout.Task</td>
                    <td>@closeout.FieldValue</td>

                    @if (!string.IsNullOrWhiteSpace(closeout.Status))
                    {
                        @if (closeout.Status.ToLower() == "started")
                        {
                            <td>
                                <a href="#" class="text-primary text-decoration-none" onclick="EditCloseOutDetails('@closeout.Id')">
                                    <span class="status-badge progressing">@closeout.Status</span>
                                </a>
                            </td>
                        }
                        else if (closeout.Status.ToLower() == "not started")
                        {
                            <td>
                                <a href="#" class="text-primary text-decoration-none" onclick="EditCloseOutDetails('@closeout.Id')">
                                    <span class="status-badge not-started">@closeout.Status</span>
                                </a>
                            </td>
                        }
                        else if (closeout.Status.ToLower() == "complete")
                        {
                            <td>
                                <a href="#" class="text-primary text-decoration-none" onclick="ViewCloseOutDetails('@closeout.Id')">
                                <span class="status-badge done">@closeout.Status</span>
                            </a>    
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="#" class="text-primary text-decoration-none" onclick="EditCloseOutDetails('@closeout.Id')">
                                <span class="status-badge not-started">@closeout.Status</span>
                                </a>
                            </td>
                        }
                    }
                    else
                    {
                        <td>
                            <a href="#" class="text-primary text-decoration-none" onclick="EditCloseOutDetails('@closeout.Id')">
                            <span class="status-badge not-started">Not Started</span>
                            </a>
                        </td>
                    }

                    @* <td>@closeout.Completed</td> *@
                    @if (closeout.ImageCount > 0)
                    {
                        <td><i class="fa fa-file-alt text-secondary me-1"></i>@closeout.ImageCount file </td>
                    }
                    else
                    {
                        <td><i class="fa fa-file-alt text-secondary me-1"></i></td>
                    }

                  

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" style=" text-align:center">
                    No records found
                </td>
            </tr>
        }
    </tbody>
</table>
