@using System.Web
@using ViewModels.Incident
@model IncidentViewRepairViewModel

@if (Model != null)
{
    <div class="table-responsive table-rounded custom-scroll">
        <table class="table align-middle text-left">
            <thead class="table-light">
                <tr>
                    <th>Step</th>
                    <th>Responsible Party</th>
                    <th>Status</th>
                    <th>Evidence</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.listIncidentViewRepairViewModel != null)
                {
                    @foreach (var repair in Model.listIncidentViewRepairViewModel)
                    {
                        <tr>
                            <td>@repair.FieldType</td>
                            <td>@repair.FieldValue</td>
                            <td>
                                @{
                                    var fieldStatus = repair.FieldStatus?.ToLower() ?? "";
                                    string fieldClass = "";

                                    switch (fieldStatus)
                                    {
                                        case "not started":
                                            fieldClass = "badge badge-status badge-pending";
                                            break;
                                        case "started":
                                            fieldClass = "badge badge-status badge-progressing";
                                            break;
                                        case "complete":
                                            fieldClass = "badge badge-status badge-complete";
                                            break;

                                        default:
                                            fieldClass = "badge badge-status badge-pending";
                                            break;
                                    }
                                }

                                <a href="#"
                                   onclick="EditRepairDetails('0','@repair.Id', @repair.FieldTypeId, @repair.IncidentId, @repair.IncidentValidationId)">
                                    @if (!string.IsNullOrEmpty(repair.FieldStatus))
                                    {
                                        <span class="@fieldClass">@repair.FieldStatus</span>
                                    }
                                    else
                                    {
                                        <span class="">-</span>
                                    }
                                </a>
                            </td>

                            <td>
                                <i class="fa-solid fa-file-pdf me-2"></i>
                                @if (!string.IsNullOrEmpty(repair.FieldType) && repair.FieldType.Contains("Source of Leak"))
                                {
                                    @repair.SOL_Count
                                }
                                else if (!string.IsNullOrEmpty(repair.FieldType) && repair.FieldType.Contains("outage"))
                                {
                                    @repair.PFO_Count
                                }
                                else if (!string.IsNullOrEmpty(repair.FieldType) && repair.FieldType.Contains("vacuum "))
                                {
                                    @repair.VTF_Count
                                }
                                else
                                {
                                    <span>0</span>
                                }
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="table-responsive table-rounded custom-scroll">
        <table class="table align-middle text-left">
            <thead class="table-light">
                <tr>
                    <th>Step</th>
                    <th>Responsible Party</th>
                    <th>Status</th>
                    <th>Evidence</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" style="text-align:center">No records found</td>
                </tr>
            </tbody>
        </table>
    </div>
}