@using System.Web
@using ViewModels.Incident
@model IncidentViewModel


<form id="NewPostDetailForm">
    @if (Model.IncidentViewPostType == 1)
    {
        <div>
            <h6>Updates @Model.IncidentViewPostType</h6>

            <div class="update-footer mt-3">
                <textarea rows="5" class="form-control mb-2" id="postvalue" placeholder="Post an update..."></textarea>
                <button class="btn btn-update" id="btn_PostDetail_Save" data-type="1">
                    <i class="fa-solid fa-paper-plane me-2"></i>Post Update
                </button>
            </div>

            <div id="update-list" style="padding-top:10px">
                @if (Model.IncidentViewRepairViewModel?.listIncidentViewPostViewModel != null &&
                            Model.IncidentViewRepairViewModel.listIncidentViewPostViewModel.Any())
                {

                    @foreach (var post in Model.IncidentViewRepairViewModel.listIncidentViewPostViewModel)
                    {

                        <div class="update-item">
                            <span class="update-time">@post.TimeforMessage</span>
                            <div>@post.Message</div>
                        </div>

                    }

                }
                else
                {
                    <p>No updates available.</p>
                }
            </div>
         
        </div>
    }
    else if (Model.IncidentViewPostType == 2)
    {
        <div>
            <h6>Updates @Model.IncidentViewPostType</h6>

               <div class="update-footer mt-3">
                <textarea rows="5" class="form-control mb-2" id="postvalue" placeholder="Post an update..."></textarea>
                <button class="btn btn-update" id="btn_PostDetail_Save" data-type="2">
                    <i class="fa-solid fa-paper-plane me-2"></i>Post Update
                </button>
            </div>

            <div id="update-list" style="padding-top:10px">
                @if (Model.IncidentViewRepairViewModel?.listIncidentViewPostViewModel != null &&
                            Model.IncidentViewCloseoutViewModel.listIncidentViewPostViewModel.Any())
                {
                    @foreach (var post in Model.IncidentViewCloseoutViewModel.listIncidentViewPostViewModel)
                    {
                        <div class="update-item">
                            <span class="update-time">@post.TimeforMessage</span>
                            <div>@post.Message</div>
                        </div>
                    }
                }
                else
                {
                    <p>No posts found.</p>
                }
            </div>
         
        </div>
    }
    else if (Model.IncidentViewPostType == 3)
    {
        <div>
            <h6>Updates @Model.IncidentViewPostType</h6>

              <div class="update-footer mt-3">
                <textarea rows="5" class="form-control mb-2" id="postvalue" placeholder="Post an update..."></textarea>
                <button class="btn btn-update" id="btn_PostDetail_Save" data-type="3">
                    <i class="fa-solid fa-paper-plane me-2"></i>Post Update
                </button>
            </div>

            <div id="update-list" style="padding-top:10px">
                @if (Model.IncidentAssessmentDetails?.listIncidentViewPostViewModel != null &&
                            Model.IncidentAssessmentDetails.listIncidentViewPostViewModel.Any())
                {
                    @foreach (var post in Model.IncidentAssessmentDetails.listIncidentViewPostViewModel)
                    {
                        <div class="update-item">
                            <span class="update-time">@post.TimeforMessage</span>
                            <div>@post.Message</div>
                        </div>
                    }
                }
                else
                {
                    <p>No posts found.</p>
                }
            </div>
          
        </div>
    }
    else if (Model.IncidentViewPostType == 4)
    {
        <div>
            <h6>Updates @Model.IncidentViewPostType</h6>

            <div class="update-footer mt-3">
                <textarea rows="5" class="form-control mb-2" id="postvalue" placeholder="Post an update..."></textarea>
                <button class="btn btn-update" id="btn_PostDetail_Save" data-type="4">
                    <i class="fa-solid fa-paper-plane me-2"></i>Post Update
                </button>
            </div>

            <div id="update-list" style="padding-top:10px">
                @if (Model.IncidentViewRestorationViewModel?.listIncidentViewPostViewModel != null &&
                            Model.IncidentViewRestorationViewModel.listIncidentViewPostViewModel.Any())
                {
                    @foreach (var post in Model.IncidentViewRestorationViewModel.listIncidentViewPostViewModel)
                    {
                        <div class="update-item">
                            <span class="update-time">@post.TimeforMessage</span>
                            <div>@post.Message</div>
                        </div>
                    }
                }
                else
                {
                    <p>No posts found.</p>
                }
            </div>
           
        </div>
    }

</form>

@* 
    <div>
        <h6>Updates & Approvals</h6>

        <div class="update-item">
            <span class="update-time">11:42 IC</span>
            <div>ICP-1 purge completed (2,800 gal extracted).</div>
        </div>

        <div class="update-item">
            <span class="update-time">12:45 FER</span>
            <div>
                ICP-2 purge verified and logged.
            </div>
        </div>

        <div class="update-item">
            <span class="update-time">13:10 ENG</span>
            <div>Pressure gauge readings stable.</div>
        </div>

        <div class="update-item">
            <span class="update-time">13:25 GEC</span>
            <div>Disposal manifest issued for PRG-001.</div>
        </div>

        <div class="update-item">
            <span class="update-time">13:35 FER</span>
            <div>Containment labels verified for Baker tank. </div>
        </div>
    </div>

    <div class="update-footer mt-3">
        <textarea type="text" rows="5" class="form-control mb-2" id="post" placeholder="Post an update..."></textarea>
        <button class="btn btn-update"><i class="fa-solid fa-paper-plane me-2"></i>Post Update</button>
    </div> *@


<script>
    $(document).off("click", "#btn_PostDetail_Save");
    $(document).on("click", "#btn_PostDetail_Save", function (e) {
        e.preventDefault();
        var type = $(this).attr("data-type");

        savePostDetails(type);
    })

    async function savePostDetails(type) {

        type = parseInt(type);

        // let response = await fetch("/IncidentDetail/SavePostDetails", {
        //     method: "POST"
        // });

        // if (response.ok) {
        //     let result = await response.json();
        //     console.log("Saved successfully:", result);
        // } else {
        //     console.error("Error saving:", response.status);
        // }
        try {

            let form = [];
            let formData = new FormData();
            let obj = $("#NewPostDetailForm")[0];

            // Serialize other fields
            let params = $(obj).serializeArray();

            let now = new Date();
            let hours = now.getHours().toString().padStart(2, "0");
            let minutes = now.getMinutes().toString().padStart(2, "0");
            let currentTime = `${hours}:${minutes}`;
            formData.append("IncidentViewPostViewModel.TimeforMessage", currentTime + " ");
            formData.append("IncidentViewPostViewModel.IncidentId", @Model.Id);
            formData.append("IncidentViewPostViewModel.IncidentViewType", type);

            //var data = $(this).attr("data-posttype");
            //var data1 = $(this).data("posttype");

            if (type == 1)
                formData.append("IncidentViewPostViewModel.Message", $("#repair").find("#postvalue").val());
            else if (type == 2)
                formData.append("IncidentViewPostViewModel.Message", $("#closeout").find("#postvalue").val());
            else if (type == 3)
                formData.append("IncidentViewPostViewModel.Message", $("#assessment").find("#postvalue").val());
            else if (type == 4)
                formData.append("IncidentViewPostViewModel.Message", $("#restoration").find("#postvalue").val());

            let response = await fetch("/IncidentDetail/SavePostDetails", {
                method: "POST",
                body: formData
            });

            let result = await response.json();

            if (result.success && result.data) {
                let container;

                // choose the correct section based on type
                if (type == 1)
                    container = $("#repair");
                else if (type == 2)
                    container = $("#closeout");
                else if (type == 3)
                    container = $("#assessment");
                else if (type == 4)
                    container = $("#restoration");

                // clear old list
                container.find("#update-list").empty();

                // append new posts
                result.data.forEach(item => {
                    container.find("#update-list").append(`
                        <div class="update-item">
                            <span class="update-time">${item.TimeforMessage || ''}</span>
                            <div>${item.Message || ''}</div>
                        </div>
                    `);
                });

                // clear textarea
                container.find("#postvalue").val("");
            }


        } catch (error) {
            SwalErrorAlert("Error while saving incident!");
            console.error(error);
        } finally {
            hideLoader($("#addIncidentModal"));
        }
    }
</script>




