@using ViewModels.Incident
@model IncidentViewTaskViewModel

<div class="card mb-4">
    <div class="card-body p-0">
        <div class="d-flex justify-content-between align-items-center mb-0 p-3">
            <h6 class="fw-bold mb-0">Restoration Checklist</h6>
            <button type="button" class="btn btn-add" onclick="OpenAddTaskModal()">
                <i class="fa-solid fa-plus me-2"></i>Add Task
            </button>
        </div>

        <div class="table-responsive table-rounded custom-scroll">
            <table class="table align-middle text-left">
                <thead class="table-light">
                    <tr>
                        <th>Task</th>
                        <th>Responsible Party</th>
                        <th>Status</th>
                      @*   <th>Started</th>
                        <th>Completed</th> *@
                        <th>Evidence</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.listIncidentViewTaskViewModel != null && Model.listIncidentViewTaskViewModel.Any())
                    {
                        foreach (var task in Model.listIncidentViewTaskViewModel)
                        {
                            <tr>
                                <td>@task.Task</td>
                                <td>@(string.IsNullOrWhiteSpace(task.FieldValue) ? "—" : task.FieldValue)</td>

                                @if (!string.IsNullOrWhiteSpace(task.Status))
                                {
                                    @if (task.Status.ToLower() == "started")
                                    {
                                        <td>
                                            <a href="#" onclick="EditRestorationDetails('@task.Id')">
                                            <span class="status-badge progressing">@task.Status</span>
                                            </a>
                                        </td>
                                    }
                                    else if (task.Status.ToLower() == "not started")
                                    {
                                        <td>
                                            <a href="#" onclick="EditRestorationDetails('@task.Id')">
                                            <span class="status-badge not-started">@task.Status</span>
                                            </a>
                                        </td>
                                    }
                                    else if (task.Status.ToLower() == "complete")
                                    {
                                        <td>
                                            <a href="#" onclick="ViewRestorationDetails('@task.Id')">
                                            <span class="status-badge done">@task.Status</span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="#"  onclick="EditRestorationDetails('@task.Id')">
                                            <span class="status-badge not-started">@task.Status</span>
                                            </a>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>
                                        <a href="#"  onclick="EditRestorationDetails('@task.Id')">
                                            <span class="status-badge not-started">Not Started</span>
                                        </a>
                                    </td>
                                }


                              @*   <td>@(string.IsNullOrWhiteSpace(task.Started) ? "—" : task.Started)</td>
                                <td>@(string.IsNullOrWhiteSpace(task.Completed) ? "—" : task.Completed)</td> *@

                                @if (task.ImageCount > 0)
                                {
                                    <td><i class="fa fa-file-alt text-secondary me-1"></i>@task.ImageCount file </td>
                                }
                                else
                                {
                                    <td><i class="fa fa-file-alt text-secondary me-1"></i></td>
                                }

                              @*   @if (!string.IsNullOrWhiteSpace(task.Status) && task.Status == "Complete")
                                {
                                    <td><a href="#" class="text-primary text-decoration-none" onclick="ViewRestorationDetails('@task.Id')">View</a></td>
                                }
                                else
                                {
                                    <td><button class="btn btn-update btn-sm" onclick="EditRestorationDetails('@task.Id')">Update</button></td>
                                } *@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">No tasks found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
