@model ViewModels.Incident.IncidentEditTaskListViewModel

<!-- Update Incident Assessment Modal -->
<div class="modal fade" id="viewIncidentCloseOutModal" tabindex="-1" aria-labelledby="viewIncidentCloseOutModallabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="viewIncidentCloseOutModallabel">View Incident CloseOut</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="viewIncidentAssessmentForm">
                    <input type="hidden" id="assessmentId" value="@Model.Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group d-flex align-items-center">
                                <label class="form-label">Task</label>
                                <label asp-for="@Model.Task">: <b>@Model.Task</b></label>
                            </div>
                            <div class="form-group d-flex align-items-center ">
                                <label class="form-label">Status</label>
                                <label asp-for="@Model.StatusId">: <b>@Model.StatusName</b></label>
                            </div>

                         @*    <div class="d-flex align-items-center row">
                               
                                <div class="form-group col-md-6 d-flex align-items-center">
                                    <label class="form-label">Completed</label>
                                    <label asp-for="@Model.Completed">: <b>@Model.Completed</b></label>
                                </div>
                            </div> *@
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <label asp-for="@Model.Description"><b>@Model.Description</b></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group d-flex align-items-center">
                                <label class="form-label">Roles</label>
                                <label asp-for="@Model.RoleIds">: <b>@Model.RoleName</b></label>
                            </div>
                            <div class="form-group">

                                <label class="form-label">Evidence</label>
                                @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                                {
                                    var imgList = Model.ImageUrl.Split(",", StringSplitOptions.RemoveEmptyEntries)
                                    .Select(img => img.Trim())
                                    .ToList();

                                    @foreach (var item in imgList)
                                    {
                                        <img src="@item" alt="" style="width: 75px;height: 75px;" />
                                    }
                                }
                                else
                                {
                                    <div>No evidence provided.</div>
                                }
                            </div>

                        </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Cancel
                </button>
            </div>
        </div>
    </div>
</div>


@* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#startedTime", { enableTime: true, noCalendar: true, dateFormat: "H:i", time_24hr: true });
        flatpickr("#completedTime", { enableTime: true, noCalendar: true, dateFormat: "H:i", time_24hr: true });
    });
</script> *@
